.main__layout {
  display: flex;
  gap: 45px;
}

.main__layout .left-side {
  flex: 1;
}

.main__layout .right-side {
  flex: 11;
  /* background-color: red; */
  overflow-y: auto;
  position: relative;
}