.paragraph {
  margin-top: 80px;
  position: relative;
  padding: 0 82px;
}

@media (max-width: 768px) {
  .paragraph {
    text-align: center;
  }
}

.paragraph span {
  color: #00DAF7;
  font-family: 'Gayathri', sans-serif;
  font-size: 96px;
  font-style: normal;
}

.paragraph p {
  max-width: 100%;
  width: 473px;
  color: var(--first-color);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  margin-top: -80px;
  margin-bottom: 59px;
}

@media (max-width: 768px) {
  .paragraph p {
    width: 100%;
  }
}

.paragraph h3 {
  color: var(--first-color);
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 27px;
}

.paragraph img {
  max-width: 100%;
  width: 33.5px;
  float: right;
  margin-right: 125px;
}

@media (max-width: 768px) {
  .paragraph img {
    margin: 0;
  }
}