.signUp-page {
  max-width: 100%;
  width: 1440px;
  height: 100vh;
  position: relative;
  display: flex;
}

@media (max-width: 1115px) {
  .signUp-page {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.signUp-page .signUp-info-box {
  position: relative;
  width: 642px;
  background-image: url("../../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1115px) {
  .signUp-page .signUp-info-box {
    width: 100%;
    height: 100vh;
  }
}

.signUp-page .signUp-info-box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #1565D8;
  opacity: 0.8;
}

/* 
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

.signUp-page .signUp-box {
  max-width: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: white;
  position: relative;
}

@media (max-width: 1115px) {
  .signUp-page .signUp-box {
    overflow-y: visible;
    width: 100%;
    height: 100%;
  }
}

.signUp-page .signUp-box .back-btn {
  display: flex;
  align-items: center;
  gap: 9px;
  color: #8692A6;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 75px 0 99px 77px;
}

@media (max-width: 768px) {
  .signUp-page .signUp-box .back-btn {
    margin: 0;
    padding: 40px 20px 50px;
  }
}

.signUp-page .signUp-box .back-btn i {
  font-size: 20px;
}

.signUp-page .signUp-box .back-btn span {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.signUp-page .signUp-box .signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

@media (max-width: 768px) {
  .signUp-page .signUp-box .signUp {
    padding: 0 20px 30px;
  }
}

.signUp-page .signUp-box .signUp div {
  position: relative;
  max-width: 100%;
  width: 426px;
}

.signUp-page .signUp-box .signUp .title {
  max-width: 100%;
  text-align: left;
  padding-bottom: 16px;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 16px;
  position: relative;
}

.signUp-page .signUp-box .signUp .title h1 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.signUp-page .signUp-box .signUp .title p {
  max-width: 100%;
  width: 411px;
  color: #8692A6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 10px;
}

.signUp-page .signUp-box form .error {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: red;
}

.signUp-page .signUp .checkbox {
  margin-bottom: 36px;
  margin-top: 20px;
}

.signUp-page .signUp .checkbox > div {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 10px;
}

.signUp-page .signUp .checkbox input {
  width: 18px;
  height: 18px;
  border-radius: 4px;
}

.signUp-page .signUp .checkbox label {
  color: #696F79;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.signUp-page .signUp .register {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 43px;
}

.signUp-page .signUp .register span {
  width: 100%;
  height: 1px;
  background-color: #F5F5F5;
  position: relative;
}

.signUp-page .signUp .register span::before {
  content: "Or";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 20px;
  color: #BABABA;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.signUp-page .signUp form + button {
  color: black;
  background-color: white;
  box-shadow: 0 3px 13px #ddd;
}

.signUp-page input[type="number"]::-webkit-outer-spin-button,
.signUp-page input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.signUp-page input[type="number"] {
  -moz-appearance: textfield;
}
