.logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 61px 20px 0 89px;
}

@media (max-width: 768px) {
  .logo {
    justify-content: center;
    padding: 60px 0 0;
  }
}

.logo img {
  max-width: 100%;
  width: 52.222px;
}

.logo span {
  color: var(--first-color);
  font-family: 'Righteous', cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}