.game__cards {
  display: grid;
  grid-auto-flow: column;
  gap: 28px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  padding: 20px 20px 20px 0;
}

.game__cards::-webkit-scrollbar {
  width: 15px;
  height: 8px;
}

.game__cards::-webkit-scrollbar-thumb {
  box-shadow: 2px 4px 4px 0px rgba(255, 255, 255, 0.57) inset;
  border-radius: 20px;
}