.header__games {
  margin: 25px 0 0;
  display: flex;
  justify-content: flex-end;
  padding: 0 20px;
}

.header__games .title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__games .text {
  text-align: right;
}

.header__games .text span {
  display: block;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

.header__games .title .image {
  max-width: 100%;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  border: 1px solid #000;
}

.header__games .title .image img {
  max-width: 100%;
}