.box {
  width: 330px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 25px;
  background: var(--third-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.box:not(:last-child) {
  margin-bottom: 20px;
}

.box img {
  max-width: 100%;
  width: 55px;
  border-radius: 50%;
  margin-left: -5px;
  transition: box-shadow .3s;
}

.box:first-of-type img:hover {
  box-shadow: 0px 0px 20px 0px #619ED7;
}
.box:nth-of-type(2) img:hover {
  box-shadow: 0px 0px 20px 0px #1360DD;
}
.box:nth-of-type(3) img:hover {
  box-shadow: 0px 0px 20px 0px #17D924 ;
}
.box:last-of-type img:hover {
  box-shadow: 0px 0px 20px 0px #DFE228;
}

.box p {
  color: var(--first-color);
  font-family: 'Gayathri', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}