.logIn-page {
  max-width: 100%;
  width: 1440px;
  height: 100vh;
  position: relative;
  display: flex;
}

@media (max-width: 1115px) {
  .logIn-page {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.logIn-page .logIn-info-box {
  position: relative;
  width: 642px;
  background-color: var(--first-color);
}

@media (max-width: 1115px) {
  .logIn-page .logIn-info-box {
    width: 100%;
  }
}

.logIn-page .logIn-info-box .logo img {
  max-width: 100%;
  width: 94.365px;
}

@media (max-width: 768px) {
  .logIn-page .logIn-info-box .logo img {
    width: 80px;
  }
}

.logIn-page .logIn-info-box .logo span {
  color: #1565D8;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 768px) {
  .logIn-page .logIn-info-box .logo span {
    font-size: 60px;
  }
}

.logIn-page .logIn-info-box .paragraph span {
  color: #BABABA;
}

.logIn-page .logIn-info-box .paragraph p {
  font-style: italic;
}

.logIn-page .logIn-info-box .paragraph p,
.logIn-page .logIn-info-box .paragraph h3 {
  color: #696F79;
}

.logIn-page .logIn-info-box .paragraph img {
  max-width: 100%;
  width: 270px;
  margin-right: 0;
  margin-top: -100px;
}

@media (max-width: 768px) {
  .logIn-page .logIn-info-box .paragraph img {
    margin: 0;
  }
}

/* 
--------------------------------------------------------------------------------
--------------------------------------------------------------------------------
*/

.logIn-page .logIn-box {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 768px) {
  .logIn-page .logIn-box {
    padding: 0 20px 30px;
  }
}

.logIn-page .logIn-box > div {
  position: relative;
  max-width: 100%;
  width: 426px;
  margin-top: 50px;
  padding: 20px 0 30px;
}

@media (max-width: 768px) {
  .logIn-page .logIn-box > div {
    margin-top: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1366px) {
  .logIn-page .logIn-box > div {
    margin-top: 150px;
  }
}

.logIn-page .logIn-box .title {
  max-width: 100%;
  text-align: center;
  padding-bottom: 40px;
  margin-bottom: 35px;
  font-family: 'Inter', sans-serif;
  position: relative;
}

.logIn-page .logIn-box .title h1 {
  color: #000;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.logIn-page .logIn-box .title p {
  max-width: 100%;
  width: 411px;
  color: #8692A6;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
}

.logIn-page .logIn-box .title ul {
  list-style: none;
  gap: 16px;
  margin-top: 40px;
  position: relative;
}

.logIn-page .logIn-box .title ul::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #F5F5F5;
  z-index: -1;
}

.logIn-page .logIn-box .title ul,
.logIn-page .logIn-box .title ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logIn-page .logIn-box .title ul li {
  width: 65px;
  height: 65px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: 0.5s;
}

.logIn-page .logIn-box .title ul li:hover {
  transform: translateY(-5px);
}

.logIn-page .logIn-box .title ul li img {
  max-width: 100%;
  width: 30px;
}

.logIn-page .logIn-box .title span {
  width: 100%;
  height: 1px;
  background-color: #F5F5F5;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logIn-page .logIn-box .title span::after {
  content: "Or";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #BABABA;
  background-color: var(--first-color);
  padding: 0 20px;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logIn-page .logIn-box form .sign-btn {
  margin-top: 20px;
  text-align: center;
}

.logIn-page .logIn-box form .sign-btn p {
  color: #696F79;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 27px;
}

.logIn-page .logIn-box form .sign-btn p span {
  color: #1565D8;
  font-weight: 700;
  cursor: pointer;
}