.card {
  width: 480px;
  height: 222px;
  background-color: goldenrod;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  border-radius: 60px;
  position: relative;
}

.card > img {
  max-width: 100%;
  width: 230px;
  border-radius: 0 0 0 60px;
  transition: transform .3s;
}

.card:hover > img {
  transform: scale(1.1) translate(9px, -8px);
}

.card .text {
  position: absolute;
  right: 8px;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 50px;
}

.card .text img {
  max-width: 100%;
  width: 250px;
  filter: drop-shadow(0 0 20px #FFF);
}

.card .text p {
  color: #D8D8D8;
  width: 400px;
  text-align: right;
  font-family: Gilroy, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-right: 10px;
}