.home__page > h2 {
  color: #D8D8D8;
  font-family: Gilroy, sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.home__page .game__cards {
  margin-top: 50px;
  display: flex;
  gap: 28px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.home__page .game__cards::-webkit-scrollbar {
  width: 15px;
  height: 12px;
}

/* .home__page .game__cards::-webkit-scrollbar-thumb {
  background: #A08040;
  border-radius: 20px;
} */

.home__page .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.home__page .last__played {
  padding-left: 8px;
  /* background-color: red; */
}

.home__page .content h3 {
  color: #D8D8D8;
  font-family: 'Gayathri', sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.home__page .content h3 {
  margin-bottom: 15px;
}

.home__page .content .last__played .box {
  width: 378px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 25px;
  background: #515151;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home__page .content .box:not(:last-child) {
  margin-bottom: 35px;
}

.home__page .content .box img {
  max-width: 100%;
  width: 70px;
  border-radius: 50%;
  margin-left: -5px;
  transition: box-shadow .3s;
}

.home__page .content .box:first-of-type img:hover {
  box-shadow: 0px 0px 6.08159875869751px 0px #619ED7, 0px 0px 12.16319751739502px 0px #619ED7, 0px 0px 42.57119369506836px 0px #619ED7, 0px 0px 85.14238739013672px 0px #619ED7, 0px 0px 145.9583740234375px 0px #619ED7, 0px 0px 255.42715454101562px 0px #619ED7;
}
.home__page .content .box:nth-of-type(2) img:hover {
  box-shadow: 0px 0px 6.300000190734863px 0px #1360DD, 0px 0px 12.600000381469727px 0px #1360DD, 0px 0px 44.099998474121094px 0px #1360DD, 0px 0px 88.19999694824219px 0px #1360DD, 0px 0px 151.1999969482422px 0px #1360DD, 0px 0px 264.6000061035156px 0px #1360DD;
}
.home__page .content .box:nth-of-type(3) img:hover {
  box-shadow: 0px 0px 6.300000190734863px 0px #17D924, 0px 0px 12.600000381469727px 0px #17D924, 0px 0px 44.099998474121094px 0px #17D924, 0px 0px 88.19999694824219px 0px #17D924, 0px 0px 151.1999969482422px 0px #17D924, 0px 0px 264.6000061035156px 0px #17D924;
}
.home__page .content .box:last-of-type img:hover {
  box-shadow: 0px 0px 6.300000190734863px 0px #DFE228, 0px 0px 12.600000381469727px 0px #DFE228, 0px 0px 44.099998474121094px 0px #DFE228, 0px 0px 88.19999694824219px 0px #DFE228, 0px 0px 151.1999969482422px 0px #DFE228, 0px 0px 264.6000061035156px 0px #DFE228;
}

.home__page .content .box p {
  color: #D8D8D8;
  font-family: 'Gayathri', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.home__page .most__recent__trophy {

}

.home__page .most__recent__trophy .image {
  background-image: url("../../assets/mostRecent.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  width: 678px;
  height: 358px;
  position: relative;
}

.home__page .most__recent__trophy .image .text {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 0px 45px 45px;
  opacity: 0.7;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), radial-gradient(231.00% 135.80% at 0.90% 2.98%, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 20px;
  text-transform: uppercase;
}

.home__page .most__recent__trophy .image .text h3,
.home__page .most__recent__trophy .image .text p {
  color: white;
  font-family: 'Gayathri', sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.home__page .most__recent__trophy .image .text h3 {
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.home__page .most__recent__trophy .image .text p {
  font-size: 19px;
}